nav {
    margin: 10px;
}
nav a {
    display: inline-block;
    height: 20px;
    width: 150px;
    background-color: #000;
    color: lightgrey;
    font-family: sans-serif;
    text-align:center;
    text-decoration: none;
    cursor: pointer;
}